{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block maincontent %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Classes and associated teachers
                {% if request.user.is_superuser %}
                    <a class="btn btn-primary pull-right" href="#">Add New Class</a>
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="table-default table-responsive">
                    {% if classes %}
                    <table class="table" id="myTable">
                        <thead>
                            <tr>

                                <th>Batch</th>
                                <th>Section</th>
                                <th>Semester</th>
                                <th>Subject</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for std in classes %}
                            <tr>

                                <td>{{ std.batch }}</td>
                                <td>{{ std.section }}</td>
                                <td>{{ std.semester }}</td>
                                <td>{{ std.subject.subject_name }}</td>
                                <td>{{ std.teacher.teacher_code }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No Student found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
        $(document).ready(function(){
    $('#myTable').DataTable();
});
    </script>
{% endblock %}
